.side_box{
    position:relative;
}
.nav-category{

    display:flex;
    justify-content:space-between;
    gap:20px
}
.menu{
    display:none;
}
.sidebar{
    display:none;
    width:100%; 
    height:100vh; 
    overflow:auto;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    background-color:#ccc;
    color:#333;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:15px;
    opacity:0.9;
    
}
.link_style{
    display:flex;
    align-items:center;
    gap:5px;
    
}
.close_icon{
    color:#333;
}
@media only screen and (max-width:767px)
{
    .nav-category{
        display:none;
    }
    .link-name{
        display:none;
    }
    .menu{
        display:inline-block;
    }
    
    .sidebar{
        display:block;
    }
    
}